.search-bar {
    width: 100%;
    max-width: 400px;
  
    &__input {
    //   border-radius: 999px;
      padding-left: 16px;
      padding-right: 16px;
      height: 40px;
  
      .ant-input {
        border: none;
        box-shadow: none;
  
        &:focus {
          border-color: #1890ff;
          box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
        }
      }
  
      .ant-input-suffix {
        color: #999;
      }
    }
  }
  